# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md

# Ignore folders.
.storage
.cloud
.google.token
.idea
.www/images/*

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

## Others
._includes
.homekit.state
.spotify-token-cache
.vscode/
appdaemon/compiled
appdaemon/dashboards/
home-assistant_v2.db
tts/
webostv.conf
notebooks/
airsonos.xml
themes/ios-*