- id: '1594023890815'
  alias: 'Alarm clock: wake up with Spotify'
  trigger:
  - platform: template
    value_template: '{{ states(''sensor.time'') == (state_attr(''input_datetime.alarm_clock'',
      ''timestamp'') | int | timestamp_custom(''%H:%M'', False)) }}'
  condition:
  - condition: state
    entity_id: input_boolean.alarm_clock
    state: 'on'
  action:
  - entity_id: input_boolean.alarm_clock
    service: input_boolean.turn_off
  - entity_id: input_boolean.wake_up_with_spotify
    service: script.wake_up_with_spotify
- id: 52b07f8689be4ab39d46f75410a4267a
  alias: Set Sonos Alarm
  trigger:
  - entity_id: input_boolean.alarm_clock_status
    platform: state
    to: 'on'
  action:
  - data_template:
      alarm_id: 1469
      enabled: true
      entity_id: media_player.schlafzimmer
      time: '{{ states.input_datetime.alarm_clock_time.state }}'
    service: sonos.update_alarm
- alias: Disable Sonos Alarm
  trigger:
  - platform: state
    entity_id: input_boolean.alarm_clock_status
    to: 'off'
  action:
    service: sonos.update_alarm
    data_template:
      entity_id: media_player.schlafzimmer
      alarm_id: 1469
      enabled: false
  id: a1da7a3639f34a9eb3f7603a44c31e78
- id: '1594064894682'
  alias: Set Sonos Alarm Time
  description: ''
  trigger:
  - entity_id: input_datetime.alarm_clock_time
    platform: state
  condition: []
  action:
  - delay: 00:00:20
  - data_template:
      alarm_id: 1469
      entity_id: media_player.schlafzimmer
      time: '{{ states.input_datetime.alarm_clock_time.state }}'
    service: sonos.update_alarm
- id: '1594122922256'
  alias: Stop Musik when switching TV on
  description: ''
  trigger:
  - entity_id: media_player.sony_bravia_tv
    platform: state
    to: 'on'
  condition:
  - condition: template
    value_template: '{{ is_state("media_player.living_room", "playing") }}'
  action:
  - data: {}
    entity_id: media_player.living_room
    service: media_player.media_play_pause
- id: '1594380522401'
  alias: 'Security: Door opened but we are not home'
  description: ''
  trigger:
  - entity_id: binary_sensor.openclose_4
    from: 'off'
    platform: state
    to: 'on'
  condition:
  - condition: state
    entity_id: group.persons
    state: not_home
  action:
  - data:
      data:
        category: sound_alarm
        push:
      message: 'Security: open door is detected, but we are not home.'
    service: notify.all_iphones
- id: '1594389606219'
  alias: 'Helper: Door opened last time'
  description: ''
  trigger:
  - entity_id: binary_sensor.openclose_4
    from: 'off'
    platform: state
    to: 'on'
  condition: []
  action:
  - data_template:
      date: '{{ (as_timestamp(now()) | timestamp_custom("%Y-%m-%d", true)) }}'
      entity_id: input_datetime.door_last_opened
      time: '{{ (as_timestamp(now()) | timestamp_custom("%H:%M:%S", true)) }}'
    service: input_datetime.set_datetime
