- id: '1594023890815'
  alias: 'Alarm clock: wake up with Spotify'
  trigger:
  - platform: template
    value_template: '{{ states(''sensor.time'') == (state_attr(''input_datetime.alarm_clock'',
      ''timestamp'') | int | timestamp_custom(''%H:%M'', False)) }}'
  condition:
  - condition: state
    entity_id: input_boolean.alarm_clock
    state: 'on'
  action:
  - entity_id: input_boolean.alarm_clock
    service: input_boolean.turn_off
  - entity_id: input_boolean.wake_up_with_spotify
    service: script.wake_up_with_spotify
- id: 52b07f8689be4ab39d46f75410a4267a
  alias: 'Sonos: Set alarm'
  trigger:
  - entity_id: input_boolean.alarm_clock_status
    platform: state
    to: 'on'
  action:
  - data_template:
      alarm_id: 1469
      enabled: true
      entity_id: media_player.schlafzimmer
      time: '{{ states.input_datetime.alarm_clock_time.state }}'
    service: sonos.update_alarm
- alias: 'Sonos: Disable alarm'
  trigger:
  - platform: state
    entity_id: input_boolean.alarm_clock_status
    to: 'off'
  action:
    service: sonos.update_alarm
    data_template:
      entity_id: media_player.schlafzimmer
      alarm_id: 1469
      enabled: false
  id: a1da7a3639f34a9eb3f7603a44c31e78
- id: '1594064894682'
  alias: 'Sonos: Set alarm time'
  description: ''
  trigger:
  - entity_id: input_datetime.alarm_clock_time
    platform: state
  condition: []
  action:
  - delay: 00:00:20
  - data_template:
      alarm_id: 1469
      entity_id: media_player.schlafzimmer
      time: '{{ states.input_datetime.alarm_clock_time.state }}'
    service: sonos.update_alarm
- id: '1594122922256'
  alias: Stop Musik when switching TV on
  description: ''
  trigger:
  - entity_id: media_player.sony_bravia_tv
    platform: state
    to: 'on'
  condition:
  - condition: template
    value_template: '{{ is_state("media_player.living_room", "playing") }}'
  action:
  - data: {}
    entity_id: media_player.living_room
    service: media_player.media_play_pause
- id: '1594380522401'
  alias: 'Security: Door opened but we are not home'
  description: ''
  trigger:
  - entity_id: binary_sensor.openclose_4
    from: 'off'
    platform: state
    to: 'on'
  condition:
  - condition: state
    entity_id: group.persons
    state: not_home
  action:
  - data:
      data:
        category: sound_alarm
        push:
      message: 'Security: open door is detected, but we are not home.'
    service: notify.all_iphones
- id: '1594389606219'
  alias: 'Helper: Door opened last time'
  description: ''
  trigger:
  - entity_id: binary_sensor.openclose_4
    from: 'off'
    platform: state
    to: 'on'
  condition: []
  action:
  - data_template:
      date: '{{ (as_timestamp(now()) | timestamp_custom("%Y-%m-%d", true)) }}'
      entity_id: input_datetime.door_last_opened
      time: '{{ (as_timestamp(now()) | timestamp_custom("%H:%M:%S", true)) }}'
    service: input_datetime.set_datetime
- id: '1594631215761'
  alias: Vacation Mode
  description: Vacation Mode
  trigger:
  - entity_id: input_boolean.vacation_mode
    from: 'off'
    platform: state
    to: 'on'
  condition: []
  action:
  - entity_id: input_boolean.alarm_clock_status
    service: input_boolean.turn_off
- id: '1594631698389'
  alias: 'Vacation mode: auto turn on'
  initial_state: 'on'
  description: ''
  trigger:
  - entity_id: group.persons
    for: '24:00:00'
    from: home
    platform: state
    to: not_home
  condition: []
  action:
  - entity_id: input_boolean.vacation_mode
    service: input_boolean.turn_on
  - data:
      message: No one at home for 24 hours, switching on vacation mode.
      title: Vacation mode
    service: notify.all_iphones
- id: '1594631785192'
  alias: 'Vacation mode: auto turn off'
  initial_state: 'on'
  description: ''
  trigger:
  - entity_id: group.persons
    from: not_home
    platform: state
    to: home
  condition:
  - condition: state
    entity_id: input_boolean.vacation_mode
    state: 'on'
  action:
  - entity_id: input_boolean.vacation_mode
    service: input_boolean.turn_off
  - data:
      message: Welcome back! Switching off the vacation mode.
      title: Vacation mode
    service: notify.all_iphones
- id: '1595754875510'
  alias: 'Schlafzimmer - Hue Dimmer: Light on'
  description: ''
  trigger:
  - device_id: fb41032420324dd5b3a7ac88cedb2fb9
    domain: deconz
    platform: device
    subtype: turn_on
    type: remote_button_short_press
  condition: []
  action:
  - data: {}
    entity_id: switch.configuration_tool_1
    service: switch.turn_on
  - data: {}
    entity_id: light.schlafzimmerbeleuchtung
    service: light.turn_on
  mode: single
- id: '1595755790532'
  alias: 'Schlafzimmer - Hue Dimmer: Light off'
  description: ''
  trigger:
  - device_id: fb41032420324dd5b3a7ac88cedb2fb9
    domain: deconz
    platform: device
    subtype: turn_off
    type: remote_button_short_press
  condition: []
  action:
  - data: {}
    entity_id: light.schlafzimmerbeleuchtung
    service: light.turn_off
  - data: {}
    entity_id: switch.configuration_tool_1
    service: switch.turn_off
  mode: single
- id: '1595757412339'
  alias: Schlafzimmer Hue Dimmer - Brightness
  description: ''
  trigger:
  - device_id: fb41032420324dd5b3a7ac88cedb2fb9
    domain: deconz
    platform: device
    subtype: dim_up
    type: remote_button_short_press
  - device_id: fb41032420324dd5b3a7ac88cedb2fb9
    domain: deconz
    platform: device
    subtype: dim_down
    type: remote_button_short_press
  condition: []
  action:
  - data:
      group: light.schlafzimmerbeleuchtung
    service: script.increase_brightness
  mode: single
- id: '1595841289664'
  alias: 'General: Set theme at startup'
  description: ''
  trigger:
  - event: start
    platform: homeassistant
  condition: []
  action:
  - data:
      name: ios-dark-mode
    service: frontend.set_theme
  mode: single
- id: '1595842159751'
  alias: 'General: Jana is coming home'
  description: Reduce the volume when Jana comes home
  trigger:
  - entity_id: person.jana
    from: not_home
    platform: state
    to: home
  condition:
  - condition: device
    device_id: e945b29ee4bc455b9d3f5dc4703f8a76
    domain: media_player
    entity_id: media_player.living_room
    type: is_playing
  - condition: device
    device_id: c8087740ba644f19a97fcf633691c491
    domain: media_player
    entity_id: media_player.living_room_2
    type: is_playing
  - condition: state
    entity_id: person.benjamin
    state: home
  action:
  - data:
      volume_level: '0.10'
    entity_id: media_player.living_room
    service: media_player.volume_set
  - data:
      volume_level: '0.10'
    entity_id: media_player.living_room_2
    service: media_player.volume_set
  mode: single
